* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Mansalva', cursive;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(Images/about-images/leather-background.jpg);
	background-size: cover;
	height: 100%;
}

main {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1440px;
	min-height: 675vh;
	background: linear-gradient(to right, transparent 6rem, blue 6.1rem, transparent 6.2rem),
		linear-gradient(to bottom, white, white 4.1rem, rgb(191, 191, 245) 4.2rem, white 4.4rem, transparent 4.5rem),
		white
			repeating-linear-gradient(
				to bottom,
				transparent,
				transparent 2rem,
				rgb(191, 191, 245) 2.1rem,
				transparent 2.2rem
			);

	box-shadow: 0px 20px 100px rgba(0, 0, 0, 1);
}

@-moz-document url-prefix() {
	main {
		min-height: 700vh;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Nav/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

nav {
	display: flex;
	flex-direction: column;
	height: 200px;
}

.header_ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 0.5rem;
	width: 80%;
}

.header_li {
	list-style: none;
	text-decoration: none;
	padding-left: 5rem;
	z-index: 4;

	font-size: 3rem;
}

.header_li a {
	text-decoration: none;
	padding-left: 1rem;
	padding-right: 1rem;
	color: rgba(0, 0, 0, 1);
	z-index: 5;
}

.project-rotate {
	transform: rotate(3deg);
}
#less-left {
	padding-left: 2rem;
}

.index-rotate {
	transform: rotate(-3deg);
}

.contact-rotate {
	transform: rotate(4deg) translateY(-.2rem);
}

.highlight {
	position: relative;
	overflow: hidden;
}

.highlight-yellow {
	height: 5rem;
	width: 12rem;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: right;
	z-index: 3;

	animation: highlighter 0.5s linear;
	cursor: pointer;
}

.highlight-blue {
	height: 5rem;
	width: 12rem;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: right;
	z-index: 3;

	animation: highlighter 0.5s linear;
	cursor: pointer;
}

@keyframes highlighter {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	75% {
		opacity: 1;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.nav-hidden {
	display: none;
}

#home-bigger {
	padding-right: 4rem;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Heading/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	transform: translateY(-5rem);
	z-index: 1;
}

.heading h1 {
	font-size: 4rem;
	text-decoration: underline;
	padding-right: 30%;
	padding-top: 6rem;
}

.nav-image {
	height: 10rem;
	border-radius: 50%;
	margin-top: 1rem;
	margin-right: 5rem;
	cursor: pointer;
	background-color: rgb(247, 244, 241);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
		6px 4px 8px rgba(255, 255, 255, 1) inset;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Skills Section//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.skills p {
	font-size: 2rem;
	padding-left: 6.5rem;
	padding-right: 1rem;
	line-height: 1.1;
	padding-top: 1rem;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Skill List Section//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.skills-resume {
	display: flex;
}

.skill-list {
	padding-top: 1.1rem;
	font-size: 2rem;
	padding-left: 10rem;
	line-height: 1.17;
	width: 60%;
}

@-moz-document url-prefix() {
	.skill-list {
		line-height: 1.10;
	}
}

.skill-list h2 {
	font-size: 2rem;
	text-decoration: underline;
}

.list {
	padding-top: 2.05rem;
}

#no-padding {
	padding-top: 0rem;
}

.logo {
	height: 4rem;
	position: absolute;
	top: 20%;
	background-color: white;
	padding: 0.25rem;
	border-radius: 25%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
		6px 4px 8px rgba(255, 255, 255, 1) inset;
}

.logo-1 {
	left: 15rem;
	transform: rotate(-5deg) translateY(-50%);
}

.logo-2 {
	left: 5rem;
	transform: rotate(3deg);
}

.logo-3 {
	left: 10rem;
	transform: rotate(-1deg);
}

.logo-4 {
	left: 5rem;
	transform: rotate(-3deg);
}
.logo-5 {
	left: 12rem;
	transform: rotate(-5deg);
}

.logo-6 {
	left: 17rem;
	transform: rotate(1deg);
}
.logo-7 {
	left: 12rem;
	transform: rotate(-1deg);
}
.logo-8 {
	left: 17rem;
	width: 4rem;
	transform: rotate(2deg);
}

.logo-12 {
	left: 22rem;
	width: 4rem;
	transform: rotate(-5deg);
}

.list {
	position: relative;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Resume Section//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.resume-list {
	width: 30%;
}

.resume-list a {
	text-decoration: none;
	color: black;
}

.resume-list {
	padding-top: 1.1rem;
	font-size: 2rem;
	line-height: 1.16;
	width: 40%;
}

@-moz-document url-prefix() {
	.resume-list {
		line-height: 1.11;
	}
}

.resume-list h2 {
	font-size: 2rem;
	text-decoration: underline;
}

.logo-9 {
	left: 12rem;
	transform: rotate(-3deg) translateY(-50%);
	cursor: pointer;
}

.logo-10 {
	left: 10rem;
	transform: rotate(3deg);
	cursor: pointer;
}
.logo-11 {
	left: 9rem;
	transform: rotate(-1deg);
	cursor: pointer;
}

#bigger-gap {
	padding-top: 2.1rem;
}

.resume-list p {
	font-size: 2rem;
	padding-left: 0rem;
	line-height: 1.1;
	padding-top: 0rem;
}

.pencil {
	width: 50rem;
	height: 2rem;
	position: fixed;
	top: 75vh;
	left: -25%;
	z-index: 5;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Animated Section////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.animated-section {
	padding-top: 1.5rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 66.4rem;
	left: 0rem;
	width: 1440px;
}

.animated-section h1 {
	font-size: 2rem;
	text-decoration: underline;
}

.animated-section p {
	font-size: 2rem;
	padding-left: 6.5rem;
	padding-right: 1rem;
	line-height: 1.1;
	padding-top: 0rem;
}

.animated-div {
	padding: 0rem;
}

.animated-image {
	height: 20rem;
	width: 20rem;
	padding: 1rem;
	padding-bottom: 3.5rem;
	border-radius: 0.25rem;
	background-color: rgb(241, 239, 237);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4), -3px -2px 4px rgba(138, 138, 138, 0.8) inset,
		12px 8px 16px rgba(255, 255, 255, 1) inset;
}

.animated-sticker {
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	padding: 1rem;
	background-color: rgb(247, 244, 241);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
		6px 4px 8px rgba(255, 255, 255, 1) inset;
}

.animated-sticker-square {
	height: 10rem;
	width: 10rem;
	border-radius: 10%;
	padding: 1rem;
	background-color: rgb(247, 244, 241);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
		6px 4px 8px rgba(255, 255, 255, 1) inset;
}

.animated-sticker-rectangle {
	height: 10rem;
	width: 20rem;
	border-radius: 10%;
	padding: 1rem;
	background-color: rgb(247, 244, 241);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
		6px 4px 8px rgba(255, 255, 255, 1) inset;
}

.animated-sticker-elipse {
	height: 10rem;
	border-radius: 50%;
	background-color: rgb(247, 244, 241);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
		6px 4px 8px rgba(255, 255, 255, 1) inset;
}

#first-div {
	transform: translateY(-0.3rem);
	height: 8rem;
	position: relative;
	top: 0;
	left: 0;
}

.first-div-img-1 {
	position: relative;
	top: -40rem;
	left: 20rem;
	transform: rotate(6deg);
	animation: image-1 1.5s linear;
}

@keyframes image-1 {
	0% {
		top: -20rem;
		left: -100rem;
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(360deg);
	}

	75% {
		transform: rotate(180deg);
	}

	100% {
		top: -40rem;
		left: 20rem;
		transform: rotate(6deg);
	}
}

#second-div {
	position: relative;
	top: 0.45rem;
	left: 0;
	height: 13rem;
}
.second-div-img-2 {
	position: relative;
	top: -28rem;
	left: 40rem;
	animation: stick-2 0.5s linear;
}

@keyframes stick-2 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -48rem;
		left: 20rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -28rem;
		left: 40rem;
	}
}

#third-div {
	position: relative;
	top: 2.8rem;
	left: 0;
	height: 12rem;
}

.third-div-img-3 {
	position: relative;
	top: -35rem;
	left: 15rem;
	transform: rotate(3deg);
	animation: image-3 1.5s linear;
}

@keyframes image-3 {
	0% {
		top: -20rem;
		left: -100rem;
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(360deg);
	}

	75% {
		transform: rotate(180deg);
	}

	100% {
		top: -35rem;
		left: 15rem;
		transform: rotate(3deg);
	}
}

#fourth-div {
	position: relative;
	top: 4rem;
	left: 0;
	height: 18rem;
}

.fourth-div-img-4 {
	position: relative;
	top: -40rem;
	left: 65rem;
	transform: rotate(-6deg);
	animation: image-4 1.5s linear;
}

@keyframes image-4 {
	0% {
		top: -20rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -40rem;
		left: 65rem;
		transform: rotate(-6deg);
	}
}
.fourth-div-img-5 {
	position: relative;
	top: -38rem;
	left: 15rem;
	animation: stick-5 0.5s linear;
}

@keyframes stick-5 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -28rem;
		left: 10rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -38rem;
		left: 15rem;
	}
}

#fifth-div {
	position: relative;
	top: 3.6rem;
	left: 0;
	height: 10rem;
}

.fifth-div-img-6 {
	position: relative;
	top: -40rem;
	left: 10rem;
	transform: rotate(1deg);
	animation: image-6 1.5s linear;
}

@keyframes image-6 {
	0% {
		top: -20rem;
		left: -100rem;
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(360deg);
	}

	75% {
		transform: rotate(180deg);
	}

	100% {
		top: -40rem;
		left: 10rem;
		transform: rotate(1deg);
	}
}

#sixth-div {
	position: relative;
	top: 4.7rem;
	left: 0;
	height: 15rem;
}

.sixth-div-img-7 {
	position: relative;
	top: -40rem;
	left: 35rem;
	transform: rotate(-6deg);
	animation: image-7 1.5s linear;
}

@keyframes image-7 {
	0% {
		top: -20rem;
		left: -100rem;
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(360deg);
	}

	75% {
		transform: rotate(180deg);
	}

	100% {
		top: -40rem;
		left: 35rem;
		transform: rotate(-6deg);
	}
}

.sixth-div-img-8 {
	position: relative;
	top: -40rem;
	left: 30rem;
	transform: rotate(6deg);
	animation: image-8 1.5s linear;
}

@keyframes image-8 {
	0% {
		top: -20rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -40rem;
		left: 30rem;
		transform: rotate(6deg);
	}
}

#seventh-div {
	position: relative;
	top: 5rem;
	left: 0;
	height: 16rem;
}

.seventh-div-img-9 {
	position: relative;
	top: -40rem;
	left: 10rem;
	transform: rotate(2deg);
	animation: image-9 1.5s linear;
}

@keyframes image-9 {
	0% {
		top: -20rem;
		left: -100rem;
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(360deg);
	}

	75% {
		transform: rotate(180deg);
	}

	100% {
		top: -40rem;
		left: 10rem;
		transform: rotate(2deg);
	}
}

.seventh-div-img-10 {
	position: relative;
	top: -35rem;
	left: 30rem;
	transform: rotate(-6deg);
	animation: image-10 1.5s linear;
}

@keyframes image-10 {
	0% {
		top: -20rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -35rem;
		left: 30rem;
		transform: rotate(-6deg);
	}
}

#eighth-div {
	position: relative;
	top: 4.5rem;
	left: 0;
	height: 18rem;
}

.eighth-div-img-11 {
	position: relative;
	top: -37rem;
	left: 8rem;
	transform: rotate(-6deg);
	animation: image-11 1.5s linear;
}

@keyframes image-11 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -37rem;
		left: 8rem;
		transform: rotate(-6deg);
	}
}
.eighth-div-img-12 {
	position: relative;
	top: -38rem;
	left: 5rem;
	animation: stick-12 .5s linear;
}

@keyframes stick-12 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -38rem;
		left: 5rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -38rem;
		left: 5rem;
	}
}

.eighth-div-img-13 {
	position: relative;
	top: -37rem;
	left: 20rem;
	transform: rotate(3deg);
	animation: image-13 1.5s linear;
}

@keyframes image-13 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -37rem;
		left: 20rem;
		transform: rotate(3deg);
	}
}

.eighth-div-img-14 {
	position: relative;
	top: -37rem;
	left: 18rem;
	transform: rotate(-6deg);
	animation: image-14 1.5s linear;
}

@keyframes image-14 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -37rem;
		left: 18rem;
		transform: rotate(-6deg);
	}
}

#ninth-div {
	position: relative;
	top: 4rem;
	left: 0;
	height: 21rem;
}

.ninth-div-img-15 {
	position: relative;
	top: -42rem;
	left: 10rem;
	transform: rotate(6deg);
	animation: image-15 1.5s linear;
}

@keyframes image-15 {
	0% {
		top: -42rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -42rem;
		left: 10rem;
		transform: rotate(6deg);
	}
}

.ninth-div-img-16 {
	position: relative;
	top: -42rem;
	left: 2rem;
	transform: rotate(-6deg);
	animation: image-16 1.5s linear;
}

@keyframes image-16 {
	0% {
		top: -42rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -42rem;
		left: 2rem;
		transform: rotate(-6deg);
	}
}

.ninth-div-img-17 {
	position: relative;
	top: -42rem;
	left: 12rem;
	transform: rotate(-1deg);
	animation: stick-17 .5s linear;
}

@keyframes stick-17 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -42rem;
		left: 12rem;
	}
}

.ninth-div-img-18 {
	position: relative;
	top: -42rem;
	left: 15rem;
	transform: rotate(3deg);
	animation: image-18 1.5s linear;
}

@keyframes image-18 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -42rem;
		left: 15rem;
		transform: rotate(-6deg);
	}
}

#tenth-div {
	position: relative;
	top: 5.1rem;
	left: 0;
	height: 22rem;
}

.tenth-div-img-19 {
	position: relative;
	top: -42rem;
	left: 5rem;
	transform: rotate(3deg);
	animation: image-19 1.5s linear;
}

@keyframes image-19 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -42rem;
		left: 5rem;
		transform: rotate(3deg);
	}
}

.tenth-div-img-20 {
	position: relative;
	top: -42rem;
	left: 5rem;
	transform: rotate(-7deg);
	animation: image-20 1.5s linear;
}

@keyframes image-20 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -42rem;
		left: 5rem;
		transform: rotate(-7deg);
	}
}

.tenth-div-img-21 {
	position: relative;
	top: -47rem;
	left: 15rem;
	transform: rotate(3deg);
	animation: stick-21 0.5s linear;
}

@keyframes stick-21 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -47rem;
		left: 15rem;
		transform: rotate(3deg);
	}
}

.tenth-div-img-22 {
	position: relative;
	top: -47rem;
	left: 20rem;

	animation: stick-22 0.5s linear;
}
@keyframes stick-22 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 22rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -47rem;
		left: 20rem;
	}
}

#eleventh-div {
	position: relative;
	top: 5.1rem;
	left: 0;
	height: 22rem;
}

.eleventh-div-img-23 {
	position: relative;
	top: -48rem;
	left: 10rem;
	transform: rotate(3deg);
	animation: stick-23 0.5s linear;
}

@keyframes stick-23 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -48rem;
		left: 10rem;
		transform: rotate(3deg);
	}
}

.eleventh-div-img-24 {
	position: relative;
	top: -45rem;
	left: 10rem;
	transform: rotate(3deg);
	animation: stick-24 0.5s linear;
}

@keyframes stick-24 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -45rem;
		left: 10rem;
		transform: rotate(3deg);
	}
}

.eleventh-div-img-25 {
	position: relative;
	top: -48rem;
	left: 10rem;
	transform: rotate(-6deg);
	animation: stick-25 0.5s linear;
}

@keyframes stick-25 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -48rem;
		left: 10rem;
		transform: rotate(-6deg);
	}
}

.eleventh-div-img-26 {
	position: relative;
	top: -43rem;
	left: 25rem;
	transform: rotate(3deg);
	animation: image-26 1.5s linear;
}

@keyframes image-26 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -42rem;
		left: 25rem;
		transform: rotate(-7deg);
	}
}

#twelve-div {
	position: relative;
	top: 5.1rem;
	left: 0;
	height: 18rem;
}

.twelve-div-img-27 {
	position: relative;
	top: -48rem;
	left: 20rem;
	animation: stick-27 0.5s linear;
}

@keyframes stick-27 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -48rem;
		left: 20rem;
	}
}

.twelve-div-img-28 {
	position: relative;
	top: -38rem;
	left: 35rem;
	transform: rotate(-6deg);
	animation: image-28 1.5s linear;
}

@keyframes image-28 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -38rem;
		left: 35rem;
		transform: rotate(-6deg);
	}
}

#thirteen-div {
	position: relative;
	top: 4.7rem;
	left: 0;
	height: 18rem;
}

.thirteen-div-img-29 {
	position: relative;
	top: -38rem;
	left: 15rem;
	transform: rotate(-6deg);
	animation: image-29 1.5s linear;
}

@keyframes image-29 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -38rem;
		left: 15rem;
		transform: rotate(-6deg);
	}
}

.thirteen-div-img-30 {
	position: relative;
	top: -38rem;
	left: 5rem;
	transform: rotate(6deg);
	animation: image-30 1.5s linear;
}

@keyframes image-30 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -38rem;
		left: 5rem;
		transform: rotate(6deg);
	}
}

.thirteen-div-img-31 {
	position: relative;
	top: -38rem;
	left: 25rem;
	transform: rotate(-3deg);
	animation: image-31 1.5s linear;
}

@keyframes image-31 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -38rem;
		left: 25rem;
		transform: rotate(-3deg);
	}
}

#fourteen-div {
	position: relative;
	top: 4rem;
	left: 0;
	height: 15rem;
}

.fourteen-div-img-32 {
	position: relative;
	top: -31rem;
	left: 20rem;
	animation: stick-32 0.5s linear;
}

@keyframes stick-32 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -31rem;
		left: 20rem;
	}
}

.fourteen-div-img-33 {
	position: relative;
	top: -31rem;
	left: 25rem;
	transform: rotate(-3deg);
	animation: stick-33 0.5s linear;
}

@keyframes stick-33 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -31rem;
		left: 25rem;
		transform: rotate(-3deg);
	}
}

.fourteen-div-img-34 {
	position: relative;
	top: -31rem;
	left: 30rem;
	transform: rotate(3deg);
	animation: stick-34 0.5s linear;
}

@keyframes stick-34 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -31rem;
		left: 30rem;
		transform: rotate(-3deg);
	}
}

#fifteen-div {
	position: relative;
	top: 4.6rem;
	left: 0;
	height: 29rem;
}

.fifteen-div-img-35 {
	position: relative;
	top: -48rem;
	left: 5rem;
	transform: rotate(-3deg);
	animation: image-35 1.5s linear;
}

@keyframes image-35 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: 5rem;
		transform: rotate(-3deg);
	}
}

.fifteen-div-img-36 {
	position: relative;
	top: -48rem;
	left: 7rem;
	transform: rotate(3deg);
	animation: stick-36 0.5s linear;
}

@keyframes stick-36 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -48rem;
		left: 7rem;
		transform: rotate(-3deg);
	}
}

.fifteen-div-img-37 {
	position: relative;
	top: -48rem;
	left: 20rem;
	transform: rotate(6deg);
	animation: image-37 1.5s linear;
}

@keyframes image-37 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: 20rem;
		transform: rotate(6deg);
	}
}

.fifteen-div-img-38 {
	position: relative;
	top: -48rem;
	left: 18rem;
	transform: rotate(-5deg);
	animation: image-38 1.5s linear;
}

@keyframes image-38 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: 18rem;
		transform: rotate(-5deg);
	}
}

#sixteen-div {
	position: relative;
	top: 4.3rem;
	left: 0;
	height: 22rem;
}

.sixteen-div-img-39 {
	position: relative;
	top: -48rem;
	left: 0rem;
	transform: rotate(-5deg);
	animation: image-39 1.5s linear;
}

@keyframes image-39 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: 0rem;
		transform: rotate(-5deg);
	}
}

.sixteen-div-img-40 {
	position: relative;
	top: -48rem;
	left: -3rem;
	transform: rotate(5deg);
	animation: image-40 1.5s linear;
}

@keyframes image-40 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: -3rem;
		transform: rotate(5deg);
	}
}

.sixteen-div-img-41 {
	position: relative;
	top: -46rem;
	left: -5rem;
	transform: rotate(-1deg);
	animation: image-41 1.5s linear;
}

@keyframes image-41 {
	0% {
		top: -37rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -46rem;
		left: -5rem;
		transform: rotate(-1deg);
	}
}

.sixteen-div-img-42 {
	position: relative;
	top: -46rem;
	left: -8rem;
	transform: rotate(-6deg);
	animation: image-42 1.5s linear;
}

@keyframes image-42 {
	0% {
		top: -37rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -46rem;
		left: -8rem;
		transform: rotate(-6deg);
	}
}

.sixteen-div-img-43 {
	position: relative;
	top: -66rem;
	right: -70rem;
	transform: rotate(6deg);
	animation: image-43 1.5s linear;
}

@keyframes image-43 {
	0% {
		top: -37rem;
		right: -150rem;
		transform: rotate(720deg);
	}

	100% {
		top: -66rem;
		right: -70rem;
		transform: rotate(6deg);
	}
}

#seventeen-div {
	position: relative;
	top: 4.3rem;
	left: 0;
	height: 11rem;
}

.seventeen-div-img-44 {
	position: relative;
	top: -41rem;
	left: 18rem;
	transform: rotate(6deg);
	animation: image-44 1.5s linear;
}

@keyframes image-44 {
	0% {
		top: -48rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -41rem;
		left: 18rem;
		transform: rotate(6deg);
	}
}

.seventeen-div-img-45 {
	position: relative;
	top: -41rem;
	left: 37rem;
	transform: rotate(3deg);
	animation: stick-36 0.5s linear;
}

@keyframes stick-45 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -41rem;
		left: 37rem;
		transform: rotate(-3deg);
	}
}

#eighteen-div {
	position: relative;
	top: 4.3rem;
	left: 0;
	height: 25rem;
}

.eighteen-div-img-46 {
	position: relative;
	top: -48rem;
	left: 0rem;
	transform: rotate(-3deg);
	animation: image-46 1.5s linear;
}

@keyframes image-46 {
	0% {
		top: -48rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: 0rem;
		transform: rotate(-3deg);
	}
}

.eighteen-div-img-47 {
	position: relative;
	top: -48rem;
	left: -2rem;
	transform: rotate(3deg);
	animation: image-47 1.5s linear;
}

@keyframes image-47 {
	0% {
		top: -48rem;
		left: -100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: -2rem;
		transform: rotate(3deg);
	}
}

.eighteen-div-img-48 {
	position: relative;
	top: -51rem;
	left: -2rem;
	transform: rotate(-3deg);
	animation: stick-48 0.5s linear;
}

@keyframes stick-48 {
	0% {
		height: 40rem;
		width: 40rem;
		transform: rotatex(35deg);
		top: -42rem;
		left: 12rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -51rem;
		left: -2rem;
		transform: rotate(-3deg);
	}
}

.eighteen-div-img-49 {
	position: relative;
	top: -48rem;
	left: -2rem;
	transform: rotate(-3deg);
	animation: image-49 1.5s linear;
}

@keyframes image-49 {
	0% {
		top: -48rem;
		left: 100rem;
		transform: rotate(720deg);
	}

	100% {
		top: -48rem;
		left: -2rem;
		transform: rotate(-3deg);
	}
}

.eighteen-div-img-50 {
	position: relative;
	top: -68rem;
	right: -70rem;
	transform: rotate(6deg);
	animation: image-50 1.5s linear;
}

@keyframes image-50 {
	0% {
		top: -48rem;
		right: -150rem;
		transform: rotate(720deg);
	}

	100% {
		top: -68rem;
		right: -70rem;
		transform: rotate(6deg);
	}
}

#nineteen-div {
	position: relative;
	top: 7.2rem;
	left: 0;
	height: 10rem;
}

.nineteen-div-img-51 {
	position: relative;
	top: -5rem;
	left: 30rem;

	animation: stick-51 0.5s linear;
}

@keyframes stick-51 {
	0% {
		height: 40rem;
		width: 20rem;
		transform: rotatex(35deg);
		top: -5rem;
		left: 28rem;
	}

	100% {
		height: 10rem;
		width: 10rem;
		top: -5rem;
		left: 30rem;
	}
}

.center-signiture {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}

#nineteen-div h2 {
	transform: translateY(-0.3rem);
}

.opaque {
	opacity: 0;
}

.hidden {
	display: none;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Media Queries/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 425px) {
	main {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 300px;
		min-height: 440rem;
		background: linear-gradient(to right, transparent 1.5rem, blue 1.6rem, transparent 1.7rem),
			linear-gradient(
				to bottom,
				white,
				white 2.1rem,
				rgb(191, 191, 245) 2.2rem,
				white 2.2rem,
				transparent 2.3rem
			),
			white
				repeating-linear-gradient(
					to bottom,
					transparent,
					transparent 1rem,
					rgb(191, 191, 245) 1.1rem,
					transparent 1.1rem
				);
	}

	nav {
		height: 100px;
	}

	.header_ul {
		padding-top: 0.8rem;
	}

	.header_li {
		padding-left: 1rem;
		font-size: 1.4rem;
	}

	.header_li a {
		padding-left: 0.1rem;
		padding-right: 0.1rem;
	}

	#home-bigger {
		padding-left: 1.5rem;
		padding-right: 1.2rem;
	}

	#less-left {
		padding-left: 0.1rem;
	}

	.heading {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	.heading h1 {
		font-size: 2rem;
		padding-top: 6rem;
		padding-left: 2rem;
		padding-right: 0rem;
	}

	.nav-image {
		height: 3rem;
		border-radius: 50%;
		margin-top: 5rem;
		margin-right: 0rem;
	}

	.skills p {
		font-size: 1.1rem;
		padding-left: 2rem;
		padding-right: 0rem;
		padding-top: 0.5rem;
		line-height: 1;
	}

	.skills-resume {
		display: flex;
		flex-direction: column;
	}

	.skill-list h2 {
		font-size: 1.1rem;
		line-height: 1;
	}

	.skill-list {
		padding-top: 0.6rem;
		font-size: 1.1rem;
		padding-left: 3rem;
		line-height: 1;
	}

	.list {
		padding-top: 1.1rem;
	}

	.logo {
		height: 2rem;
		position: absolute;
		top: 20%;
	}

	.logo-1 {
		left: 8rem;
		transform: rotate(-5deg) translateY(-50%);
	}

	.logo-2 {
		left: 3rem;
		transform: rotate(3deg);
	}

	.logo-3 {
		left: 5rem;
		transform: rotate(-1deg);
	}

	.logo-4 {
		left: 3rem;
		transform: rotate(-3deg);
	}
	.logo-5 {
		left: 6rem;
		transform: rotate(-5deg);
	}

	.logo-6 {
		left: 8.5rem;
		transform: rotate(1deg);
	}
	.logo-7 {
		left: 6rem;
		transform: rotate(-1deg);
	}
	.logo-8 {
		left: 8.5rem;
		width: 2rem;
		transform: rotate(2deg);
	}

	.logo-12 {
		left: 11rem;
		width: 2rem;
		transform: rotate(-5deg);
	}

	.resume-list {
		padding-top: 1rem;
		font-size: 1.1rem;
		padding-left: 3rem;
		line-height: 1;
		width: 80%;
	}

	.resume-list h2 {
		font-size: 1.1rem;
		line-height: 1;
	}

	.resume-list p {
		padding-top: 0rem;
		font-size: 1.1rem;
		padding-left: 0rem;
		line-height: 1.1;
	}

	#bigger-gap {
		padding-top: 0.7rem;
	}

	.logo-9 {
		left: 7rem;
		transform: rotate(-3deg) translateY(-50%);
		cursor: pointer;
	}

	.logo-10 {
		left: 6rem;
		transform: rotate(3deg);
		cursor: pointer;
	}
	.logo-11 {
		left: 5rem;
		transform: rotate(-1deg);
		cursor: pointer;
	}

	.pencil {
		width: 25rem;
		height: 1rem;
		position: fixed;
		top: 75vh;
		left: -45%;
		z-index: 5;
		transform: rotate(-87deg);
	}

	.animated-section {
		padding-top: 1.5rem;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 56.4rem;
		left: 0rem;
		width: 300px;
	}

	.animated-section h1 {
		font-size: 1.5rem;
		text-decoration: underline;
	}

	.animated-section p {
		font-size: 1.0rem;
		padding-left: 1.9rem;
		padding-right: 0.2rem;
		line-height: 1.1;
		padding-top: 0rem;
	}

	.animated-div {
		padding: 0rem;
	}

	.animated-image {
		display: none;
	}
	/* .animated-image {
		height: 5rem;
		width: 5rem;
		padding: 0.2rem;
		padding-bottom: 0.7rem;
		border-radius: 0.05rem;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
			4px 3px 5px rgba(255, 255, 255, 1) inset;
	} */

	.animated-sticker {
		display: none;
	}
	/* .animated-sticker {
		height: 4rem;
		width: 4rem;
		padding: 0.2rem;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
			6px 4px 8px rgba(255, 255, 255, 1) inset;
	} */

	.animated-sticker-square {
		display: none;
	}
	/* .animated-sticker-square {
		height: 4rem;
		width: 4rem;
		border-radius: 10%;
		padding: 0.4rem;
		background-color: rgb(247, 244, 241);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
			6px 4px 8px rgba(255, 255, 255, 1) inset;
	} */

	.animated-sticker-rectangle {
		display: none;
	}
	/* .animated-sticker-rectangle {
		height: 4rem;
		width: 8rem;
		border-radius: 10%;
		padding: 0.2rem;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
			6px 4px 8px rgba(255, 255, 255, 1) inset;
	} */

	.animated-sticker-elipse {
		height: 10rem;
		border-radius: 50%;
		background-color: rgb(247, 244, 241);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(138, 138, 138, 0.8) inset,
			6px 4px 8px rgba(255, 255, 255, 1) inset;
	}

	#first-div {
		transform: translateY(0.1rem);
		height: 10rem;
		position: relative;
		top: 0;
		left: 0;
	}

	#second-div {
		position: relative;
		top: 0rem;
		left: 0;
		height: 16rem;
	}
	#third-div {
		position: relative;
		top: 0.5rem;
		left: 0;
		height: 12.5rem;
	}

	#fourth-div {
		position: relative;
		top: 1.2rem;
		left: 0;
		height: 18rem;
	}

	#fifth-div {
		position: relative;
		top: 1.9rem;
		left: 0;
		height: 10rem;
	}

	#sixth-div {
		position: relative;
		top: 2.9rem;
		left: 0;
		height: 16rem;
	}

	#seventh-div {
		position: relative;
		top: 3.4rem;
		left: 0;
		height: 15rem;
	}
	#eighth-div {
		position: relative;
		top: 3.8rem;
		left: 0;
		height: 20rem;
	}

	#ninth-div {
		position: relative;
		top: 4.7rem;
		left: 0;
		height: 25rem;
	}

	#tenth-div {
		position: relative;
		top: 5rem;
		left: 0;
		height: 25rem;
	}

	#eleventh-div {
		position: relative;
		top: 5.3rem;
		left: 0;
		height: 23rem;
	}

	#twelve-div {
		position: relative;
		top: 6.5rem;
		left: 0;
		height: 19rem;
	}

	#thirteen-div {
		position: relative;
		top: 7.3rem;
		left: 0;
		height: 19rem;
	}

	#fourteen-div {
		position: relative;
		top: 8rem;
		left: 0;
		height: 16rem;
	}

	#fifteen-div {
		position: relative;
		top: 8.6rem;
		left: 0;
		height: 34rem;
	}

	#sixteen-div {
		position: relative;
		top: 9.75rem;
		left: 0;
		height: 26rem;
	}

	#seventeen-div {
		position: relative;
		top: 10.2rem;
		left: 0;
		height: 12rem;
	}

	#eighteen-div {
		position: relative;
		top: 11.4rem;
		left: 0;
		height: 31rem;
	}

	#nineteen-div {
		position: relative;
		top: 12.7rem;
		left: 0;
		height: 10rem;
	}

	.nineteen-div-img-51 {
		position: relative;
		top: 2rem;
		left: 1.5rem;

		animation: none;
	}

	.center-signiture {
		display: flex;
		flex-direction: column;
		justify-self: center;
		align-items: center;
	}

	#nineteen-div h2 {
		transform: translateY(-0.3rem);
	}
}
