* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Fredericka the Great', cursive;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Header////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header {
	width: 100vw;
	height: 20vh;
	position: fixed;
	background-image: url(Images/project-images/bg-variations-1-1186474.jpg);
	background-size: 100vw 20vh;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid darkgoldenrod;
	box-shadow: 5px 0px 30px rgba(0, 0, 0, 1);
	z-index: 10;
}

.title {
	background-image: url(Images/project-images/brushed-metal-1-1198882.jpg);
	min-width: 30%;
	height: 8vh;
	font-size: 3.5vh;
	padding: 2vh 1vh 1vh 1vh;
	outline: 3px solid black;
	outline-offset: -1vh;
	color: black;
	border-radius: 1rem;
	font-weight: 700;
	text-align: center;
}

.menu-link {
	display: none;
}

.menu-detail {
	display: none;
}

.mobile-menu {
	display: block;
}

.tablet-menu {
	display: block;
}

.rotate-me {
	display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Summary//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.summary {
	width: 20vw;
	height: 80vh;
	position: fixed;
	transform: translateY(20vh);
	border-right: 5px solid darkgoldenrod;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 1);
	z-index: 9;
	background-image: url(Images/project-images/wall-pattern.png);
	background-size: cover;
	background-position: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.tech-summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	height: 50%;
	margin: 2vh auto;
	background-image: url(Images/project-images/brushed-metal-1-1198882.jpg);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .9);
	border-radius: 1rem;
	padding-top: 2rem;
	outline: 3px solid black;
	outline-offset: -10px;
	font-size: 2vh;
}

.summary-detail {
	padding-top: 1rem;
	font-weight: 600;
	font-size: 2.5vh;
}
.selectors-ext-link {
	padding-top: 2.5vh;
	border-top: 4px solid darkgoldenrod;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Selectors or Nav//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.selectors {
	width: 20vw;
	height: 80vh;
	background-image: url(Images/project-images/wall-pattern.png);
	background-size: cover;
	background-position: right;
	position: fixed;
	transform: translate(80vw, 20vh);
	border-left: 5px solid darkgoldenrod;
	padding-top: 2.5vh;
	box-shadow: 0px -5px 30px rgba(0, 0, 0, 1);
	z-index: 9;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.sel-title {
	background-image: url(Images/project-images/brushed-metal-1-1198882.jpg);
	background-size: cover;
	padding: 1rem;
	width: 80%;
	margin: 0rem 1vh 1vh 1vh;
	text-align: center;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
	border-radius: 1rem;
	outline: 1px solid black;
	outline-offset: -10px;
	font-size: 2.5vh;
}

.selectors-int-link {
	border-bottom: 4px solid darkgoldenrod;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

.selectors-filter {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.selector {
	display: flex;
	align-items: center;
	padding: 1vh 4vw;
}
.selector h1 {
	margin-left: 1vw;
	background-image: url(Images/project-images/brushed-metal-1-1198882.jpg);
	background-size: cover;
	padding: 1rem;
	min-width: 10vw;
	text-align: center;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
	font-size: 2vh;
	border-radius: 1rem;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Buttons///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.btn-selector {
	min-height: 6.5vh;
	min-width: 6.5vh;
	border-radius: 50%;
	overflow: hidden;
	background-color: rgb(255, 253, 208);
	box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 1), 0 3px 3px rgba(0, 0, 0, 0.3);
	border-bottom: solid 3px rgba(255, 255, 255, 1);
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 0.3);
	font-size: 1.25vh;
}

.btn-link:hover {
	background-color: rgb(255, 136, 136);
	box-shadow: inset 0px 3px 0 rgb(255, 106, 106), 0 3px 3px rgba(0, 0, 0, 0.3);
	border: none;
	border-bottom: solid 3px rgb(255, 106, 106);
	text-shadow: 1px 1px 0px rgb(255, 106, 106);
}

.btn-link:active {
	background-color: rgb(255, 136, 136);
	border-bottom: none;
	border: 0.5px solid black;
	box-shadow: none;
	text-shadow: none;
}

.btn-filter-active {
	box-shadow: inset 0px 3px 0 rgb(106, 255, 106), 0 3px 3px rgba(0, 0, 0, 0.3);
	border: none;
	border-bottom: solid 3px rgb(106, 255, 106);
	text-shadow: 1px 1px 0px rgb(106, 255, 106);
	background-color: rgb(136, 255, 136);
}

.btn-menu-active {
	background-color: rgb(255, 136, 136);
	box-shadow: inset 0px 3px 0 rgb(255, 106, 106), 0 3px 3px rgba(0, 0, 0, 0.3);
	border: none;
	border-bottom: solid 3px rgb(255, 106, 106);
	text-shadow: 1px 1px 0px rgb(255, 106, 106);
}

.btn-filter-flash {
	animation: filterflashing 0.5s infinite;
}

.btn-flash {
	animation: flashing 0.5s infinite;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Project Container/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-section {
	width: 60vw;
	height: 80vh;
	position: fixed;
	left: 20vw;
	top: 20vh;
	z-index: 1;
}

.container-projects {
	z-index: 2;
	height: 80vh;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	scroll-snap-type: Y mandatory;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	z-index: 2;
}

.container-projects::-webkit-scrollbar {
	display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Projects//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.project {
	z-index: 3;
	background-size: cover;
	width: 100%;
	height: 80vh;
	padding-top: 3rem;
	padding-bottom: 3rem;
	scroll-snap-align: end;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.beam {
	width: 100%;
	position: relative;
	transform: translateY(-2px);
	border-bottom: 5px solid black;
	box-shadow: 0px 10px 20px black;
	z-index: 3;
}

.project-fallback {
	background-image: url(Images/project-images/omar-rodriguez-XYuNwlYtfLI-unsplash.jpg);
}

.project-aob {
	background-image: url(Images/project-images/giorgio-trovato-OKXwmdbdXkk-unsplash.jpg);
}

.project-fem-json {
	background-image: url(Images/project-images/gina-lin-m27OTMegUyA-unsplash.jpg);
}

.project-etch {
	background-image: url(Images/project-images/mick-haupt-8tN0Uq0GjCs-unsplash.jpg);
}

.project-fork {
	background-image: url(Images/project-images/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg);
}

.project-detail {
	height: 80vh;
	width: 90%;
	padding: 5rem;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 1rem;
	z-index: 4;
}

.project-detail h1 {
	font-size: 3vh;
	padding-bottom: 1rem;
	text-decoration: underline;
}

.project-detail p {
	font-size: 2.5vh;
	padding-right: 1rem;
	padding-bottom: 3rem;
	font-weight: 600;
}

.image {
	float: right;
	width: 30%;
	border-radius: 1rem;
	z-index: 5;
	margin-left: 2rem;
}

.image-large {
	width: 100%;
	clear: right;
	margin: 0 auto;
	padding-bottom: 2vh;
}

.fill-me {
	padding: 0rem;
}

/*///////////////////////////////////////////////////////////////////Fall back Project//////////////////////////////////////////////////////////////////////////////*/
.project-detail-fallback {
	height: 80vh;
	width: 90%;
	padding: 3rem;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 1rem;
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}

.project-detail-fallback:hover {
	color: rgb(2, 71, 2);
}

.big-arrow {
	font-size: 10rem;
}

.image-fallback {
	width: 40%;
	border-radius: 1rem;
	z-index: 5;
	padding-bottom: 2rem;
	margin: 0 auto;
}
.image-fallback:hover {
	width: 45%;

	margin: 0;
}
/*//////////////////////////////////move scoll snap point down for all project elements////////////////////////////////////////////////////////////////////////////*/
.anchor {
	scroll-margin-top: 20vh;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Lift Doors///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.door {
	height: 80vh;
	width: 32vw;
	background-image: url(Images/project-images/doors.svg);
	background-position: right center;
	background-size: cover;
	position: fixed;
	z-index: 6;
}

.door-left {
	transform: translateX(-30.5vw);
	transform-origin: right center;
}

.door-right {
	transform: translateX(90.5vw)rotate(180deg);
	transform-origin: left center;
}

.close-door-left {
	transform: translateX(-1.75vw);
	animation: cdoorL 2s linear;
}

.close-door-right {
	transform: translateX(61.75vw)rotate(180deg);
	animation: cdoorR 2s linear;
}

.open-door-left {
	animation: odoorL 2s linear;
	transform: translateX(-30.5vw);
}

.open-door-right {
	animation: odoorR 2s linear;
	transform: translateX(90.5vw)rotate(180deg);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Global settings//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.hide {
	display: none;
}

.hidden {
	opacity: 0;
	animation: hidedetail 1s linear;
}
.shown {
	opacity: 1;
	animation: showdetail 3s linear;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Animations////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@keyframes odoorR {
	0% {
		transform: translateX(61.75vw)rotate(180deg);
	}
	100% {
		transform: translateX(90.5vw)rotate(180deg);
	}
}

@keyframes odoorL {
	0% {
		transform: translateX(-1.75vw);
	}
	100% {
		transform: translateX(-30.5vw);
	}
}
@keyframes cdoorR {
	0% {
		transform: translateX(90.5vw)rotate(180deg);
	}
	100% {
		transform: translateX(61.75vw)rotate(180deg);
	}
}

@keyframes cdoorL {
	0% {
		transform: translateX(-30.5vw);
	}
	100% {
		transform: translateX(-1.75vw);
	}
}

@keyframes showdetail {
	0% {
		opacity: 0;
	}

	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hidedetail {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes flashing {
	0% {
		background-color: rgb(255, 253, 208);
		box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 1), 0 3px 3px rgba(0, 0, 0, 0.3);
		border-bottom: solid 3px rgba(255, 255, 255, 1);
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	}

	50% {
		background-color: rgb(255, 136, 136);
		box-shadow: inset 0px 3px 0 rgb(255, 106, 106), 0 3px 3px rgba(0, 0, 0, 0.3);
		border: none;
		border-bottom: solid 3px rgb(255, 106, 106);
		text-shadow: 1px 1px 0px rgb(255, 106, 106);
	}

	100% {
		background-color: rgb(255, 253, 208);
		box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 1), 0 3px 3px rgba(0, 0, 0, 0.3);
		border-bottom: solid 3px rgba(255, 255, 255, 1);
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	}
}

@keyframes filterflashing {
	0% {
		background-color: rgb(255, 253, 208);
		box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 1), 0 3px 3px rgba(0, 0, 0, 0.3);
		border-bottom: solid 3px rgba(255, 255, 255, 1);
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	}

	50% {
		box-shadow: inset 0px 3px 0 rgb(106, 255, 106), 0 3px 3px rgba(0, 0, 0, 0.3);
		border: none;
		border-bottom: solid 3px rgb(106, 255, 106);
		text-shadow: 1px 1px 0px rgb(106, 255, 106);
		background-color: rgb(136, 255, 136);
	}

	100% {
		background-color: rgb(255, 253, 208);
		box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 1), 0 3px 3px rgba(0, 0, 0, 0.3);
		border-bottom: solid 3px rgba(255, 255, 255, 1);
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Media Queries/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1750px) {
	.project-detail {
		width: 90%;
		padding: 3vh;
	}

	.project {
		padding-top: 2vh;
		padding-bottom: 2vh;
	}
}

@media screen and (max-width: 1500px) {
	.selector h1 {
		display: none;
	}

	.summary-detail {
		font-size: 2vh;
	}
}

@media screen and (max-width: 1350px) {
	.project-detail {
		width: 100%;
		padding-left: 3vw;
		padding-right: 3vw;
	}

	.project {
		margin: 0rem;
		padding: 0rem;
	}

	.selectors {
		padding-top: 1vh;
		justify-content: flex-start;
	}

	.summary {
		justify-content: flex-start;
	}

	.tech-summary {
		margin: 1vh auto;
	}

	.sel-title {
		font-size: 1.5vh;
	}
}

@media screen and (max-width: 1100px) {
	.tech-summary {
		font-size: 1.75vh;
	}
	.summary-detail {
		font-size: 1.75vh;
	}
}

/*//////////////////////////////////////////////////////////Tablet Queries//////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 950px) {
	header {
		justify-content: space-between;
		padding-right: 3vw;
		padding-left: 3vw;
	}
	.menu-link {
		display: block;
	}

	.menu-detail {
		display: block;
	}

	.tablet-menu {
		display: none;
	}

	.mobile-menu {
		display: none;
	}

	.main-section {
		width: 100vw;
		transform: translatex(-20vw);
	}

	.summary {
		width: 50vw;
	}

	.selectors {
		width: 50vw;
		transform: translate(50vw, 20vh);
	}

	.selector h1 {
		display: block;
		min-width: 20vw;
		margin-left: 2vw;
	}

	.sel-title {
		font-size: 2vh;
		margin-top: 1vh;
	}

	.title {
		font-size: 2vh;
		height: 6.5vh;
	}

	.project-detail {
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.project-detail h1 {
		font-size: 2vh;
	}

	.project-detail p {
		font-size: 2vh;
	}

	.door {
		width: 52vw;
	}

	.door-right {
		transform: translateX(150.5vw)rotate(180deg);
	}
	.door-left {
		transform: translateX(-50.5vw);
		transform-origin: right center;
	}

	.close-door-right {
		transform: translateX(101.75vw)rotate(180deg);
		animation: cdoorR 2s linear;
	}

	.open-door-right {
		animation: odoorR 2s linear;
		transform: translateX(150.5vw)rotate(180deg);
	}

	.close-door-left {
		transform: translateX(-1.75vw);
		animation: cdoorL 2s linear;
	}

	.open-door-left {
		animation: odoorL 2s linear;
		transform: translateX(-50.5vw);
	}

	@keyframes cdoorR {
		0% {
			transform: translateX(150.5vw)rotate(180deg);
		}
		100% {
			transform: translateX(101.75vw)rotate(180deg);
		}
	}

	@keyframes odoorR {
		0% {
			transform: translateX(101.75vw)rotate(180deg);
		}
		100% {
			transform: translateX(150.5vw)rotate(180deg);
		}
	}

	@keyframes odoorL {
		0% {
			transform: translateX(-1.75vw);
		}
		100% {
			transform: translateX(-50.5vw);
		}
	}

	@keyframes cdoorL {
		0% {
			transform: translateX(-50.5vw);
		}
		100% {
			transform: translateX(-1.75vw);
		}
	}
}

@media screen and (max-width: 425px) {
	.selectors {
		width: 100vw;
		transform: translate(0vw, 20vh);
		padding-top: 0vh;
	}

	.selectors-filter {
		padding-top: 0.5vh;
	}

	.selector {
		padding: 0.5vh 4vw;
	}

	.selector h1 {
		display: block;
		min-width: 30vw;
		margin-left: 5vw;
	}

	.sel-title {
		font-size: 2vh;
		margin-top: 1vh;
	}

	.title {
		font-size: 2vh;
		height: 6.5vh;
		min-width: 35vw;
		outline: 1px solid black;
		outline-offset: -0.5vh;
	}
	.summary {
		width: 100vw;
	}

	.tech-summary {
		font-size: 3vh;
		padding-top: 1.75vh;
	}

	.summary-detail {
		font-size: 3.5vh;
	}

	.project-detail {
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.project-detail h1 {
		padding-bottom: 0.5vh;
	}

	.project-detail p {
		padding-bottom: 0.75vh;
	}
}

@media screen and (max-width: 750px) and (orientation: landscape) {
	.rotate-me {
		position: fixed;
		top: 0rem;
		right: 0rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		background-color: black;
		z-index: 50;
	}

	.rotate-me h1 {
		color: blanchedalmond;
	}
}
